body{
    background-image: url(mwallpapers-minimalist-desktop-wallpaper-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-sf01v.jpg);
    width: 1000px;
    height: 700px;
    background-size: 1150px;
  
}